
    <h1>No more public transport jungle!</h1>
    <h2>Here is everyone from {{supporters.[0].city}} demanding the abolition of regional German public transportation networks and and propose the
    introduction of ONE big national public transport network.</h2>
    <ul class="signers-list">
        {{!-- Loop through the array of supporters (from this city) --}}
        {{#supporters}}<li>
            {{!-- If the user entered a url, show their name as a link to the url. If not, show as text. If the user entered a city, show it as a link to supporters from that city. --}}
            {{#if userurl}}<a href="{{userurl}}" class="user-link">{{first}} {{last}}</a>{{else}}{{first}} {{last}}{{/if}}{{#if city}}, <a href="../supporters/{{cityLink}}" class="user-link">{{city}}</a>{{/if}}</li>
        {{/supporters}}</ul>
