
    <h2>Here is everyone from {{supporters.[0].city}} demanding the abolition of regional German public transportation networks and and propose the
    introduction of ONE big national public transport network.</h2>
    <ul class="signers-list">
        {{#supporters}}<li>
            {{#if userurl}} <a href="{{userurl}}" class="user-link">{{first}} {{last}}</a>
                {{else}}{{first}} {{last}}
            {{/if}}

            {{#if city}}, <a href="../supporters/{{cityLink}}" class="user-link">{{city}}</a>{{/if}}</li>
        {{/supporters}}</ul>
